.container-footer {
  background-color: #d2d2d7;
  padding: 20px;
  @include alignWidthFlex(flex-end, center, row);
  box-sizing: border-box;

  .section-left {
    display: none;

    h3 {
      margin: 0;

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }

  &__info {
    @include alignWidthFlex(center, flex-end, column);

    h2 {
      margin: 0;
      margin-bottom: 10px;
      color: $dark;
      font-size: 27px;
      font-weight: 700;
    }

    span {
      color: $grey;
      font-size: 14px;
      font-weight: $font-weight-text;
    }
  }

  &__button {
    margin-top: 20px;
    @include alignWidthFlex(center, flex-end, column);

    span {
      width: 113px;
      height: 56px;
      @include alignWidthFlex(center, center, row);
      color: white;
      border-radius: 8px;
      background-color: $blue;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}
// --- Responsive design ---
// ... 768px  ...
@media (min-width: 767px) {
  .container-footer {
    height: 113px;
    justify-content: space-around;

    .section-left {
      @include alignWidthFlex(space-between, flex-start, column);
    }

    .section-right {
      @include alignWidthFlex(space-between, center, row);
    }

    &__info {
      h2 {
        margin-bottom: 5px;
      }
    }

    &__button {
      margin: 0;
      margin-left: 50px;
    }
  }
}
// ... 768px  ...
