.nav {
  width: 90%;
  height: 67px;
  margin: 0 auto;
  @include alignWidthFlex(center, center, row);
  border-bottom: 1px solid $grey-light;

  & img {
    width: 50px;
  }
}

// --- Responsive design ---
// ... 768px  ...
@media (min-width: 767px) {
  .nav {
    max-width: 543px;

    & img {
      width: 58px;
    }
  }
}
// ... 768px  ...
