.container-slider {
  margin-top: 48px;
  box-sizing: border-box;

  &__slider {
    width: 100%;
    height: 183px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: 2px solid $grey-light;
    box-sizing: border-box;
    overflow: hidden;

    .window-slider {
      width: 100%;
      height: 100%;
      @include alignWidthFlex(center, center, row);
      flex-shrink: 0;

      img {
        width: 166px;
      }
    }
  }

  &__controls {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .control-slider {
      width: 100%;
      height: 50px;
      @include alignWidthFlex(center, center, row);
      border: 2px solid $grey-light;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 50px;
      }

      &.active {
        border: 3px solid $dark;
      }
    }
  }
}

// --- Responsive design ---
// ... 768px  ...
@media (min-width: 767px) {
  .container-slider {
    max-width: 543px;

    &__slider {
      height: 337px;

      .window-slider img {
        width: 300px;
      }
    }

    &__controls {
      .control-slider {
        height: 100px;
      }
    }
  }
}
// ... 768px  ...
