%title {
  margin: 0;
  font-weight: $font-weight-title;
  font-size: 19px;
  color: $dark;
}

.container-page {
  padding: 16px;
  box-sizing: border-box;
}

// --- container icons ---
.container-icons {
  display: none;
}
// --- container icons ---

// --- info product ---
.product-title {
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;

  &__alert {
    width: 100%;

    span {
      color: $red;
      font-weight: $font-weight-text;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__title {
    width: 100%;

    h2 {
      margin: 0;
      margin-top: 10px;
      font-weight: $font-weight-title;
      font-size: 33px;
      text-align: left;
      line-height: 44px;
    }

    h3 {
      margin: 0;
      margin-top: 10px;
      color: $grey;
      font-size: 22px;
    }
  }

  &__price {
    margin-top: 40px;

    small {
      color: $grey;
      font-size: 13px;
      text-transform: uppercase;
    }

    h3 {
      margin: 0;
      margin-top: 10px;
      font-weight: $font-weight-title;
      font-size: 40px;
    }
  }
}
// --- info product ---

// --- your finish ---
.container-your-finish {
  width: 100%;
  max-width: 543px;
  margin-top: 50px;
  box-sizing: border-box;

  &__title {
    width: 100%;

    h2 {
      @extend %title;
    }
  }

  &__cards {
    width: 100%;
    box-sizing: border-box;
  }
}
// --- your finish ---

// --- add extended ---
.container-add-extended {
  @extend .container-your-finish;

  &__title {
    width: 100%;

    h2 {
      @extend %title;
    }
  }

  &__cards {
    width: 100%;
    box-sizing: border-box;
  }
}
// --- add extended ---

// --- features ---
.container-features {
  width: 100%;
  margin: 50px 0;
  box-sizing: border-box;

  &__title {
    width: 100%;

    h2 {
      @extend %title;
    }
  }

  &__cards {
    width: 100%;
    box-sizing: border-box;
  }
}
// --- features ---

// --- Specifications ---
.container-specifications {
  width: 100%;
  margin: 50px 0;
  box-sizing: border-box;

  &__title {
    width: 100%;

    h2 {
      @extend %title;
    }
  }

  &__table {
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid $grey-light;
    box-sizing: border-box;

    .table__row {
      width: 100%;
      padding: 15px 0;
      border-bottom: 2px solid $grey-light;
      box-sizing: border-box;

      h3 {
        margin: 0;
        margin-bottom: 5px;
        color: $dark;
        font-weight: $font-weight-title;
        font-size: 14px;
      }

      span {
        font-size: 14px;
        font-weight: $font-weight-text;
        line-height: 20px;
      }
    }
  }
}
// --- Specifications ---

// --- Responsive design ---
// ... 768px  ...
@media (min-width: 767px) {
  .container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-icons {
    width: 543px;
    margin-top: 50px;
    @include alignWidthFlex(space-between, center, row);

    .icon {
      @include alignWidthFlex(center, center, column);

      img {
        width: 27px;
        margin-bottom: 15px;
      }

      span {
        color: $dark;
        font-weight: $font-weight-text;
        font-size: 14px;
      }
    }
  }

  .product-title {
    max-width: 543px;

    &__title {
      h2 {
        width: 60%;
        font-size: 39px;
      }

      h3 {
        font-size: 27px;
      }
    }
  }

  .container-specifications {
    max-width: 543px;

    &__table .table__row {
      @include alignWidthFlex(space-between, center, row);
    }
  }
}
// ... 768px  ...

// ... 1280 ...
@media (min-width: 1279px) {
  .container-icons {
    margin-top: 30px;
  }

  .main {
    width: 90%;
    position: relative;
    @include alignWidthFlex(center, flex-start, row);

    .section-top {
      position: fixed;
      left: 7%;
      top: 80px;
    }

    .section-bottom {
      margin-left: calc(50% + 50px);
      @include alignWidthFlex(center, center, column);
    }
  }

  .container-specifications {
    margin-bottom: 60px;
  }
}
// ... 1280 ...
