%title {
  margin: 0;
  font-weight: $font-weight-title;
  font-size: 19px;
  color: $dark;
}

.container-page {
  padding: 16px;
  box-sizing: border-box;
}

// --- info product ---
.product-title {
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;

  &__alert {
    width: 100%;

    span {
      color: $red;
      font-weight: $font-weight-text;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__title {
    width: 100%;

    h2 {
      margin: 0;
      margin-top: 10px;
      font-weight: $font-weight-title;
      font-size: 33px;
      text-align: left;
      line-height: 44px;
    }

    h3 {
      margin: 0;
      margin-top: 10px;
      color: $grey;
      font-size: 22px;
    }
  }

  &__price {
    margin-top: 40px;

    small {
      color: $grey;
      font-size: 13px;
      text-transform: uppercase;
    }

    h3 {
      margin: 0;
      margin-top: 10px;
      font-weight: $font-weight-title;
      font-size: 40px;
    }
  }
}
// --- info product ---

// --- your finish ---
.container-your-finish {
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;

  &__title {
    width: 100%;

    h2 {
      @extend %title;
    }
  }

  &__cards {
    width: 100%;
    box-sizing: border-box;
  }
}
// --- your finish ---

// --- add extended ---
.container-add-extended {
  @extend .container-your-finish;

  &__title {
    width: 100%;

    h2 {
      @extend %title;
    }
  }

  &__cards {
    width: 100%;
    box-sizing: border-box;
  }
}
// --- add extended ---
