@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Colors
$grey: #6b7280;
$grey-light: #eeeff2;
$red: #cb253c;
$blue: #1e96d4;
$dark: #111111;

// Fonts
$font: "Roboto", sans-serif;
$font-weight-title: 700;
$font-weight-text: 400;
